{
  "root": true,
  "ignorePatterns": ["**/ui/**/*.*"],
  "extends": [
    "eslint:recommended",
    "plugin:svelte/recommended",
    "plugin:svelte/prettier"
  ],
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}