{
  "ignorePatterns": ["**/ui/**/*.*"],
  "extends": [
    "eslint:recommended",
    "plugin:svelte/recommended",
    "plugin:svelte/prettier"
  ],
  "rules": {
    // override/add rules settings here, such as:
    // 'svelte/rule-name': 'error'
  }
}